<html>
  <head>
      <title>Reverse Proxy Config</title>
  </head>
  <body>
    <h1>Config Data</h1>
    <ul>
      <li>Proxied Host: {{config.forwardToHost}}</li>
	    <li>Proxied Port: {{config.forwardToPort}}</li>
	    <li>Proxied Scheme: {{config.forwardToScheme}}</li>
    </ul>
  </body>
</html>